<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1>Get Session</h1>
        <h3>{{name}}</h3>
        {% comment %} {% for key,value in items%}
            {{key}}<br>{{value}}
        {% endfor %}
        <h5>
            {{request.session.get_session_cookie_age}}<br>
            {{request.session.get_expiry_age}}<br>
            {{request.session.get_expiry_date}}<br>
            {{request.session.get_expire_at_browser_close}}<br> {% endcomment %}
    </body>
</html>